:root{
    /* ordinary : 40:35 */
    /* happy    : 50 40 */
    --card-height:  40rem;
    --card-width:   35rem;
    --section-bg-color: #fff;
    --section-edge: 40px;
    --section-width: 80%;
}

/*      z-index 
    -100:    video
    50  :    tag
    90  :    hero-text    
    100 :    header
    200 :    ul-mask
    201 :    ul(on phone)
    202 :    fabicon
*/


*{
    font-family: 'Noto Serif TC', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    font-size: 10px;
}

body{
    background-color: rgb(70, 94, 121);
}
.body_stick{
    overflow: hidden;
}
.i{
    display: inline-block;
}
a, a:visited{
    text-decoration: none;
}

.tempButton{
    height: 100px;
    width: 100px;
    position: fixed;
    top: 20px;
    left: 20px;
    color: white;
    z-index: 2000;
    font-size: 10px;
}
.tempButton a{
    padding: 2px 5px;
    background-color: gray;
}

/* bg video */
.video-area{
    z-index: -10;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video{
    z-index: -9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-area{
    z-index: -10;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bg-area img{
    z-index: -9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center 30%;
}


/* header lists */
.header{
    height: 5.52rem;
    z-index: 100;
    position: sticky;
    right: 0;
    top: 0;
    width: 100%;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    color: #fff;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: all 0.6s;
}
.headerScroll{
    background-color: rgba(48, 39, 68, 1);
    background-image: none;
}
.header-title{
    min-width: 220px;
    margin-left: 4.8rem;
    font-size: 2.3rem;
}
.header-title a{
    color: #fff;
}
/* from here is PC mode */
.header ul{
    display: none;
    font-size: 0;
    vertical-align: middle;
    list-style: none;
}
/* menu-bar */
.menu-bar{
    position: fixed;
    top: calc(5.6rem * 0.5);
    transform: translateY(-50%);
    font-size: 2.4rem;
    color: white;
    right: 0;
    padding-right: 2rem;
    display: inline-block;
    transition: all 0.5s;
    z-index: 202;
}
.ul-mask{
    opacity: 0;
    visibility: hidden;
    z-index: 200;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    transition: all 0.4s;
}
.ul-mask_active{
    opacity: 1;
    visibility: visible;
}
.ul-list{
    color: #fff;
    background-color: #23595c;
    display: block;
    height: 100vh;
    width: 60vw ;
    position: fixed;
    top: 0;
    right: -60vw;
    text-align: left;
    transition: all 0.4s;
    flex-direction: column;
    padding-top: 72px;
    z-index: 201;
}
.ul-list_active{
    right: 0;
}
.ul-list li{
    font-size: 2.2rem;
    padding: 10px 0;
    margin: 0 1rem;
    transition: all 0.5s;
    cursor: pointer;
    position: relative;
    display: block;
}
.ul-list li::after{
    position: absolute;
    top: 75%;
    left: 0;
    content: "";
    width: 0px;
    height: 0.2rem;
    background-color: white;
    transition: all 0.4s;
}
.ul-list li:hover::after{
    width: 100%;
}
ul a,ul a:visited{
    color: white;
}

.hero{
    width: 100%;
    padding: 68px 14px 36px;
    position: relative;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
}
.hero img{
    height: 19.4rem;
    width: 19.4rem;
    object-fit: cover;
    transition: all 0.4s;
}
.hero-content{
    color: #fff;
}

.hero-content h1{
    font-size: 1.8rem;
    padding: 32px 0 2px;
}
.hero-content h2{
    font-size: 1.64rem;
}


/* hero */
/*
.hero{
    display: inline-block;
    width: 48%;
    margin-top: 22rem;
    margin-bottom: 15rem;
    color: black;
    padding: 4rem;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: end;
    backdrop-filter: blur(12px);
    animation: openHero 0.6s ease-out;
}
@keyframes openHero{
    0%{
        width:0;
    }
    100%{
        width: 48%;
    }
}
*/
/* texts on the video 
.hero-text{
    display: inline-block;
    position: relative;
    z-index: 0;
    opacity: 0;
    animation: openHeroText 0.6s 0.6s linear forwards;
}
@keyframes openHeroText{
    0%{
        position: relative;
        top: 20px;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}

.hero-text h1{
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
    font-size: 5.6rem;
}
.hero-text h2{
    font-size: 2.4rem;
}
.hero-text h2:nth-child(2){
    margin-bottom: 3rem;
}
*/

/*
.hero-explanation{
    opacity: 0.8;
}
.hero-button{
    position: relative;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-size: 2rem;
    padding: 1.4rem 6.2rem;
    border: 0.1rem rgba(255, 255, 255, 0.4) solid;
    transition: all 0.4s;
}
.hero-button:visited .hero-button:active{
    color: #fff;
}
.hero-button:hover{
    background-color: rgba(255, 255, 255, 0.4);
    border: 0.1rem rgba(255, 255, 255, 1) solid;
}
.hero-button::before,
.hero-button::after{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    text-align: center;
    border: 2px solid transparent;
    width: 0;
    height: 0;
    box-sizing: content-box;
}
.hero-button:hover::before,
.hero-button:hover::after{
    width: 100%;
    height: 100%;
}
.hero-button:hover::before{
    border-top-color: aqua;
    border-left-color: aqua;
    transition: height 0.3s, width 0.3s 0.3s;
}
.hero-button:hover::after{
    border-bottom-color: aqua;
    border-right-color: aqua;
    transition: width 0.3s, height 0.3s 0.3s;
}
*/
/*
.info{
    width: 100%;
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
}
.img-area{
    flex: 1;
}
.slide-show{
    padding: 5rem 0;
    width: 40%;
    margin: 0 auto;
    font-size: 0;
    position: relative;
}
.img-area img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide-show::before ,.slide-show::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 0rem;
    border: 3rem solid black;
    border-bottom-color: transparent;
    border-top-color: transparent;
}
.slide-show::before{
    left: -8rem;
    opacity: 1;
    border-left-color: transparent;
    animation: moveLeft 1.2s  infinite linear;
}
@keyframes moveLeft{
    0%{
        left: -4rem;
        opacity: 1;
    }
    100%{
        left: -10rem;
        opacity: 0;
    }
}
.slide-show::after{
    border-right-color: transparent;
    animation: moveRight 1.2s infinite linear ;
}
@keyframes moveRight{
    0%{
        right: -4rem;
        opacity: 1;
    }
    100%{
        right: -10rem;
        opacity: 0;
    }
}
.button-area{
    position: relative;
    flex: 1;
}
.info ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0  120px;
}
.info ul li{
    display: inline-block;
    font-size: 2.6rem;
    margin-top: 1.5rem;
    padding: 1rem 4.4rem;
    border: 1px solid rgb(0, 0, 0);
    position: relative;
}

*/

.section{
    width: var(--section-width);
    color: #000;
    height: auto;
    padding: 6rem 0rem;
    margin: 0 auto;
}
.section-bg{
    background-color: var(--section-bg-color);
    width: 100%;
    padding: 0px 44px;
    position: relative;
}
.section-bg::before, 
.section-bg::after{
    content: "";
    font-size: 0;
    width: calc(100% - var(--section-edge));
    height: 0;
    display: block;
    position: absolute;
    right: 0;
}
.section-bg::before{
    border-bottom: solid var(--section-edge) var(--section-bg-color);
    border-left: solid var(--section-edge) transparent;
    bottom: calc(100% - 1px);
}
.section-bg::after{
    border-top: solid var(--section-edge) var(--section-bg-color);
    border-right: solid var(--section-edge) transparent;
    top: calc(100% - 1px);
}

.section-title{
    font-size: 2.08rem;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}
.section-title h2{
    display: inline-block;
}
.section-title span{
    user-select: none;
    background-color: #000;
    width: 2px;
    height: 100%;
    position: absolute;
    top: 50%;
    right: -6px;
    visibility: visible;
    transform: translateY(-50%);
}

.section-content{
    padding: 9.2px 0;
    font-size: 1.64rem;
}


.cards{
    padding: 50px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.card{
    background-image:  radial-gradient(#83c6bf 0.5px, transparent 0.5px), radial-gradient(#83c6bf 0.5px, #ffffff 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;

    background-color: #fff;
    width: 320px;
    height: 320px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin: 0 auto 50px;
    overflow: hidden;
    position: relative;

}
.card *{
    font-family:  Roboto Condensed, sans-serif;
    user-select: none;
    cursor: pointer;
}
.event-type{
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 120px;
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}
.event-type[class ~= "tech"]{
    background-color: #46888b;
}
.event-type[class ~= "prog"]{
    background-color: aquamarine;
}

.event-type span{
    position: absolute;
    top: 14px;
    left: 10px;
}
.event-info{
    font-weight: 400;
}
.event-info ul{
    font-size: 0;
    text-align: right;
}
.event-info ul li{
    display: inline;
    list-style: none;
    padding-left: 6px;
    font-size: 15.2px;
}
.event-number{
    text-align: right;
    font-size: 15.2px;
}
/*
.card:nth-child(3n-2){
    top: 10rem;
}
.card:nth-child(3n-1){
    top: 5rem;
}
*/

.event-detail{
    padding-left: 2.5rem;
}
.event-title{
    padding-top: 20px;
    font-weight: bolder;
    height: 100px;
    font-size: 23.2px;
    overflow: hidden;
}
.detail{
    font-size: 2px;
    padding: 17px 0 0px 0;
}
.detail-icon img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.detail-name{
    font-weight: 500;
    height: 50px;
    padding: 7px 0 0px;
    font-size: 16px;
}
.event-tag{
    z-index: 50;
    font-size: 14.4px;
    font-weight: 400;
    padding: 10px 12px;
    border-radius: 10px;
    background-color: rgb(240, 61, 61);
    color: white;
}


.card:hover .event-description{
    opacity: 1;
    top: 100;
}
.card:hover .card-image-area{
    height: 10rem;
}
.card:hover .card-image-area::after{
    opacity: 0.5;
}

.team_window_mask{
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
    cursor: auto;
}
.mask_active{
    opacity: 1;
    visibility: visible;  
}

.team_card{
    border-radius: 40px;
    height: calc(100vh - 120px);
    width: calc(100vw - 20px);
    padding: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #F4EEE1;
    cursor: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
}
.team_card_active{
    opacity: 1;
    visibility: visible;
}
.team_card *{
    font-family:  Roboto Condensed, sans-serif;
    cursor: auto;
}
.team_card a{
    cursor: pointer;
}

.team_card_box{
    width: 100%;
    height: 100%;
    border: 4px solid #A89B85;
    border-radius: 30px;
    padding: 24px;
}
.team_card_content{
    position: relative;
    width: 100%;
    height: 100%;
    padding-right: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.close_button{
    z-index: 1001;
    position: fixed;
    top: calc((100% - (100vh - 120px)) / 2 + 28px - 6px);
    right: calc((100% - (100vw - 20px)) / 2 + 28px - 6px);
    background: #f4eee1;
    border-radius: 50%;
    padding: 6px;
    line-height: 0;
    font-size: 40px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    cursor: pointer;
}
.close_button *{
    cursor: pointer;
}
.close_button_active{
    opacity: 1;
    visibility: visible;
}
.team_agenda_info{
    font-size: 14.8px;
    letter-spacing: -0.6px;
    font-weight: 700;
}
.team_agenda_title{
    font-size: 23px;
}
.team_agenda_time{
    text-align: left;
    font-size: 15px;
    letter-spacing: -1px;
    font-weight: 500;
}
.team_agenda_time ul{
    display: inline;
    font-size: 0;
}
.team_agenda_time ul li{
    font-size: 15px;
    display: inline;
    padding-left: 10px;
}
.team_agenda_content{
    font-size: 14px;
    padding: 20px 0 50px;
}
.team_dialog{
    grid-row: 1;
    grid-column: 1;
}
.dialog_tags{
    font-size: 20px;
    font-weight: 540;
}
.dialog_tags::before{
    content: "Tags: ";
    color: green;
    font-size: 18.6px;
}
.dialog_description{
    padding: 8px 0;
    font-size: 14px;
    line-height: 26px;
}
.team_supplement{
    grid-template-columns: 1;
    grid-template-rows: 2;
}
.supplement_parser::before{
    content: "你將會聽到...";
    font-weight: 730;
    font-size: 1.2em;
}
.supplement_parser ul{
    padding-top: 30px;
    font-size: 0;
}
.supplement_parser ul li{
    font-size: 14.6px;
    padding: 0 0 8px 10px;
    list-style: none;
    position: relative;
}
.supplement_parser ul li::before, .member_name::before{
    content: "";
    position: absolute;
    top: 0.55em;
    transform: translateY(-25%);
    left: 0;
    height: 1em;
    width: 5px;
    border-radius: 2px;
    background-color: rgb(78, 90, 161);
}
.team_member_content{
    padding: 10px;
}
.team_member{
    grid-row: 1;
    grid-column: 1;
}
.delete{
    text-decoration: line-through;
}
.little{
    font-size: 12px;
}
.bold{
    font-weight: 540;
    font-size: 1.2em;
}

.member_name{
    padding-left: 16px;
    font-size: 20px;
    position: relative;
}
.member_description{
    font-size: 16px;
    padding-bottom: 14px;
    line-height: 26px;
}
.member_icon{
    grid-row: 1;
    grid-column: 2;
    height: 80px;
    width: 80px;
    object-fit: cover;
}


.trafic_container{
    height: calc(100vh - 72px);
    padding: 50px 20px;
}
.trafic_news{
}
.trafic_map{
    height: 96%;
    padding-bottom: 40px;
    grid-column: 1;
    grid-row: 1;
    justify-content: center;
}
.trafic_map iframe{
    height: 100%;
    width: 100%;
}
.trafic_method{
    grid-column: 2;
    grid-row: 1;
    color: white;
    overflow-y: scroll;
}
.trans{
    padding-bottom: 30px;
}
.bus_title, .train_title{
    font-size: 24px;
    display: inline-block;
    padding-bottom: 12px;
}
.bus_title::after{
    content: "附近公車站";
}
.train_title::after{
    content: "附近捷運站";
}
.trans ul{
    font-size: 0;
}
.trans ul li{
    padding: 10px;
    list-style: none;
}
.station_name{
    color: greenyellow;
    font-size: 18px;
}
.trans_number{
    font-size: 14px;
}

.footer{
    height: 60px;
    background-color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.footer ul li{
    list-style: none;
    padding: 0px 10px;
    display: inline;    
}
/* for Tablet */
@media screen and (min-width: 520px){
    html{
        font-size: 12px;
    }
    .header-title{
        min-width: 400px;
    }
    .hero-content *{
        min-width: 510px;
    }
    .trafic_container{
        display: grid;
        grid-template-columns: min(700px, 60%) 1fr;
        gap: 10px;
        height: calc(100vh - 72px);
        overflow: hidden;
    }
    .trafic_map{
        padding: 20px 40px;
        display: flex;
        vertical-align: middle;
        text-align: center;
        height: 100%;
        width: 100%;
    }
    .trafic_map iframe{
        height: 100%;
        width: 100%;
    }
    .trafic_method{
        height: 100%;
        overflow-y: scroll; 
        width: 100%;
    }
}
/* for PC */
@media screen and (min-width: 960px){
    html{
        font-size: 13.6px;
    }
    .header{
        height: 72px;
    }
    .header-title{
        margin-left: 8vw;
    }
    .header ul{
        display: inline-block;
        position: absolute;
        right: 0;
        padding-right: 6vw;
    }
    .header ul li{
        display: inline-block;
        font-size: 1.6rem;
        padding: 1rem 1.5rem;
        margin: 0 1rem;
        transition: all 0.5s;
        cursor: pointer;
        position: relative;
    }
    .header ul li::after{
        position: absolute;
        top: 75%;
        left: 0;
        content: "";
        width: 0px;
        height: 0.2rem;
        background-color: white;
        transition: all 0.4s;
    }
    .header ul li:hover::after{
        width: 100%;
    }
    .header ul a,.header ul a:visited{
        color: white;
    }
    .menu-bar{
        display: none !important;
    }
    .hero{
        height: calc(100vh - 72px);
        padding-top: 14vh;
    }
    .hero-content{
        position: absolute;
        bottom: 36px;
        left: 50%;
        transform: translateX(-50%);
    }
    .hero-content h1{
        font-size: 2.4rem;
        padding-top: 4vh;
    }
    .hero-content h2{
        font-size: 1.8rem;
    }
    .section-bg{
        padding-top: 0;
        position: relative;
    }
    .section-title{
        font-size: 2.4rem;
    }
    .cards{
        padding: 50px 100px;
    }
    .card{
        height: 420px;
    }
    .event-title{
        font-size: 32px;
        height: 150px;
    }
    .detail{
        padding-bottom: 50px;
    }
    .detail-name{
        padding-bottom: 10px;
    }
    .close_button{
        right: calc(100% - min(calc(100vw - 60px) ,1280px) + 30px + 36px + 12px);
        top: calc((100% - (100vh - 60px)) / 2 + 30px + 12px + 36px);
        font-size: 50px;
    }
    .team_card{
        height: calc(100vh - 100px);
        width: min(calc(100vw - 60px) ,1280px);
        padding: 30px;
        border-radius: 58px;
    }
    .team_card_box{
        border-width: 12px;
        padding: 36px 40px;
        border-radius: 48px;
    }
    .team_agenda_info{
        font-size: 20px;
    }
    .team_agenda_title{
        font-size: 37px
    }
    .team_agenda_time{
        font-size: 20px;
    }
    .time_agenda_time ul li{
        font-size: 18px;
    }
    .team_agenda_content{
        font-size: 18px;
        display: grid;
        grid-template-columns: 1fr 256px;
        gap: 30px;
    }
    .dialog_tags{
        font-size: 24.2px;  
    }
    .dialog_description{
        padding: 16px 0;
        font-size: 16px;
        line-height: 34px;
    }
    .supplement_parser ul li{
        font-size: 18px;
    }
    .team_member_content{
        display: grid;
        grid-template-columns: 1fr 256px;
        gap: 30px;
    }
    .member_icon{
        height: 100%;
        width: 100%;
        max-height: 256px;
    }
    .member_name{
        font-size: 30px;
    }
    .member_description{
        padding: 4px;
        line-height: 34px;
        font-size: 18px;
    }
    .little{
        font-size: 14px;
    }
    
    .trafic_news{
        overflow: hidden;
    }
    .bus_title, .train_title{
        font-size: 30px;
    }
    .station_name{
        font-size: 20px;
    }
    .trans_number{
        font-size: 18px;
    }
/* testing-bg rgb(70, 94, 121) */
    
}

